Vinologie\ServiceBundle\Entity\Degustation:
    type: entity
    repositoryClass: Vinologie\ServiceBundle\Repository\DegustationRepository
    table: vinologie_service_degustation
    fields:
        hours:
            type: datetime
        description:
            type: string
            length: 500
        guestNumber:
            type: integer
        maxGuestNumber:
            type: integer
    manyToOne:
        address:
            targetEntity: Vinologie\UtilsBundle\Entity\Address
            joinColumn:
                name: address_id
                referencedColumnName: uid
    lifecycleCallbacks: {  }
