{% extends 'AppFrontBundle:Layout:Layout.html.twig' %}

{% block content %}


    <br><br><br><br><br>
    <a href="{{ path('app_front_degustation_add') }}"> ajouter une degustation</a>
    <a href="{{ path('app_front_degustation_see_mine') }}"> Voir mes degustations postées</a>


{% endblock %}