Core\UserBundle\Entity\User:
    type: mappedSuperclass
#    type: entity
#    repositoryClass: Core\UserBundle\Repository\UserRepository
#    constraints:
#        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
#           fields: email
    fields:
        username:
            type: string
            length: 255
        password:
            type: string
            length: 255
        salt:
            type: string
            length: 255
        email:
            type: string
            length: 255
        roles:
            type: array
    lifecycleCallbacks: {  }
