// header
.header{
  height: 8vh;
  width:100vw;
  position:fixed;
  background-color: rgba(190, 49, 73,0.8);
  z-index: 2000;

  a{
    color:white;
  }
  a:hover{
    color:white;
    text-decoration: none;
  }
}

//permet de faire baisser le body de la hauteur du header
.padding-body{
  //changer ça directement dans layout
  padding-top: 8vh;
}


.mdl-layout__header-row .mdl-navigation__link{
  color:rgba(255,255,255,1);
}