@import (less) 'conf.css';


//utils
.center_text {
  text-align: center;
}

.center_img{
  display:block; margin-left:auto; margin-right:auto;
}

.paddingTopBottom{
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.white{
  color:white;
}

.center_on_slide{
  position:relative;
  top:40vh;
}


// header
.header{
  height: 8vh;
  position:fixed;
  color:white;
}

//google material lite vignette
.demo-card-wide.mdl-card {
  width: 100%;
  max-height: 40vh;
  height: 40vh;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 25vh;

}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}