@font-face {
  font-family: "Bariol-Regular";
  src: url('font/Bariol_Regular&Italic/02 Bariol_Regular_Webfont/Bariol_Regular_Webfont/bariol_regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "Bariol-Italic";
  src: url('font/Bariol_Regular&Italic/02 Bariol_Regular_Webfont/Bariol_Regular_Italic_Webfont/bariol_regular_italic-webfont.ttf') format('truetype');
}
.center_text {
  text-align: center;
}
.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.paddingTopBottom {
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.white {
  color: white;
}
